* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Fira Code", monospace;
}
.navbar {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  color: rgb(0, 174, 255);
}

.brand-title {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
  margin: 0.5rem;

  margin-left: 85px;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 1rem;
  font-family: monospace;
  font-weight: 600;
}
.navbar-links ul li:last-child {
  margin-right: 60px;
}
.navbar-links li:hover {
  background-color: #555;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h3 {
  text-decoration: underline;
}
.shades {
  background-color: skyblue;
  box-shadow: rgb(0 0 0 / 15%) 23.95px 23.95px 39.6px;
  margin: 15px;
  width: 600px;
  border-radius: 1.5%;
  border: 2px solid skyblue;
}
.shades h3,
h4,
p {
  margin: 10px;
}
.shades:hover {
  background: linear-gradient(skyblue, rgb(36, 131, 255));
  box-shadow: rgb(0 0 0 / 15%) 23.95px 23.95px 39.6px;
  margin: 15px;
  width: 600px;
  border-radius: 1.5%;
}
.line-1 {
  height: 3px;
  background: rgb(78, 1, 150);
}
